In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/review_file_junrang.xlsx')
df.head(2)

             name               content  sentiment
0  365mc모인이비인후과의원  사가정 모인 이비인후과 항상 만원이다          0
1  365mc모인이비인후과의원                   좋아요          1

In [3]:
# 'name'별로 'sentiment'가 0인 경우와 1인 경우의 개수 계산
sentiment_counts = df.groupby(['name', 'sentiment']).size().unstack(fill_value=0)
sentiment_counts

sentiment       0   1
name
365mc모인이비인후과의원  1   9
365서울연합의원       0  10
88병원            1   9
GT치과의원          0  10
LBO산치과의원        3   7
...            ..  ..
홍이내과의원          0  10
홍종찬이비인후과의원      1   9
화이트-e치과의원       1   9
효암한의원           2   8
효치과의원           0  10

[586 rows x 2 columns]

In [7]:
# 'name'별로 'sentiment'와 'content' 개수 계산
result = df.groupby('name').agg(부정=('sentiment', lambda x: (x == 0).sum()),
                                긍정=('sentiment', lambda x: (x == 1).sum()),
                                review_total=('content', 'count')) # nunique는 중복값 제외됨
result

                부정  긍정  review_total
name
365mc모인이비인후과의원   1   9            10
365서울연합의원        0  10            10
88병원             1   9            10
GT치과의원           0  10            10
LBO산치과의원         3   7            10
...             ..  ..           ...
홍이내과의원           0  10            10
홍종찬이비인후과의원       1   9            10
화이트-e치과의원        1   9            10
효암한의원            2   8            10
효치과의원            0  10            10

[586 rows x 3 columns]

In [9]:
result.to_excel('groupby_junrang.xlsx')