In [1]:
import pandas as pd

In [19]:
df = pd.read_excel('C:/Users/user/Desktop/saltlux_project/ML_DL/preprocess/Jungrang_sentiment.xlsx', index_col=0)
df.head(2)

,name,hospital_id,nickname,content,date,revisit,sentiment
0,365mc모인이비인후과의원,19527111,Wiseburge David,사가정 모인 이비인후과 항상 만원이다,11.24.금,4번째 방문,0.0
1,365mc모인이비인후과의원,19527111,Dk9,좋아요,11.23.목,1번째 방문,1.0

In [20]:
df = df.reset_index(drop=True)
df[df['sentiment'].isnull()]

,name,hospital_id,nickname,content,date,revisit,sentiment
101,강북21세기병원,12856585,맛있어서개굴개굴,친절하십니다,11.16.목,4번째 방문,NaN
414,경희한의원,1376397047,목련8413,원장님과 직원분들 넘 친절해요~,22.8.22.월,1번째 방문,NaN
672,김영준내과의원,19514474,밍크커피,원장님 간호사님들 진료 잘봐주시고 친절하십니다,8.22.화,9번째 방문,NaN
674,김영준내과의원,19514474,수청9,ㅇㅇ,7.10.월,2번째 방문,NaN
874,늘찬병원,38287252,uhj****,팔다리가 너무 저려서 진료 받았는데.. 허리디스크 초기라네요. 여기 아니였으면 몰랐...,10.31.화,1번째 방문,NaN
950,다솔한의원,19523510,빠끔이10,치료후 가벼워집니다_x000D_\n,11.25.토,5번째 방문,NaN
1821,바른선택치과의원,1185355355,kru****,친절하시구 꼼꼼히 진료 잘 봐주십니다! 믿고 갈 수 있는 치과에요~ 항상 감사합니다!??,11.21.화,1번째 방문,NaN
5282,참빛소아청소년과의원,36476649,고기가좋아,마트안에 있어서 주차하기 편리해요.,10.26.목,34번째 방문,NaN

In [21]:
df.loc[101, 'sentiment'] = 1
df.loc[414, 'sentiment'] = 1
df.loc[672, 'sentiment'] = 1
df.loc[674, 'sentiment'] = 1
df.loc[874, 'sentiment'] = 1
df.loc[950, 'sentiment'] = 1
df.loc[1821, 'sentiment'] = 1
df.loc[5282, 'sentiment'] = 1

In [22]:
df['sentiment'] = df['sentiment'].astype(int)
df.head(2)

,name,hospital_id,nickname,content,date,revisit,sentiment
0,365mc모인이비인후과의원,19527111,Wiseburge David,사가정 모인 이비인후과 항상 만원이다,11.24.금,4번째 방문,0
1,365mc모인이비인후과의원,19527111,Dk9,좋아요,11.23.목,1번째 방문,1

In [23]:
df.shape

(5975, 7)

In [24]:
df.duplicated().sum()

2

In [25]:
df = df.drop_duplicates()
df.shape

(5973, 7)

In [26]:
# 인덱스 재정렬
df = df.reset_index(drop=True)
df.head(2)

,name,hospital_id,nickname,content,date,revisit,sentiment
0,365mc모인이비인후과의원,19527111,Wiseburge David,사가정 모인 이비인후과 항상 만원이다,11.24.금,4번째 방문,0
1,365mc모인이비인후과의원,19527111,Dk9,좋아요,11.23.목,1번째 방문,1

In [27]:
df = df[['name', 'content', 'sentiment']]
df.head(2)

             name               content  sentiment
0  365mc모인이비인후과의원  사가정 모인 이비인후과 항상 만원이다          0
1  365mc모인이비인후과의원                   좋아요          1

In [28]:
# 엑셀 파일로 저장
df.to_excel('review_file_junrang.xlsx', index=False)